<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>CSI</title>
</head>

<body style="font-family: 'Roboto', sans-serif;">
    <!-- Main content here -->
    <div class="flex-1 lg:p-10 p-2 text-2xl font-bold">

        <!-- Content here -->
        <div class="lg:p-4 bg-white mt-5 lg:rounded-lg rounded-t-3xl">

            <div class="bg-gray-200 defaultLightColor rounded-t-3xl">
                <!-- Logo and Company description -->
                <div class="pt-2 pb-4">
                    <img class="h-24 w-24 border defaultBorderRadius bg-white my-2 m-auto" src="/images/logo.png">
                   
                </div>
            </div>
            <div class="bg-white border-l border-r defaultLightBorderColor">
                <!-- Question Container here -->
                <div class="lg:w-2/3 m-auto bg-white p-10">
                    <div class="mx-10  pt-4 pb-2 py-5 text-center">
                        <h4>NIGERIA CUSTOMER SERVICE INDEX SURVEY 2022</h4>
                        <div class="mt-4 pt-4 text-success text-center">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 icon-svg m-auto" fill="none" viewBox="0 0 24 24" stroke="green" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            </p>
                            <h2 class="text-2xl">Survey Completed</h2>
                            <p class="text-lg">Thank you for taking part in the Nigeria Customer Service Index Survey 2022. For more information please email 
                                <a href="mailto:info@ghanacsi.org">info@nigeriacsi.org</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" defaultLightColor rounded-b-3xl py-4">
                <!-- Logo and Company description -->
                <div class="pt-2 text-base text-center">
                    <p>© Nigeria Customer Service Index. All Rights Reserved</p>
                    <p>Powered By: WeWrite Technologies</p>
                </div>
            </div>
        </div>
        <!-- end Content here -->


    </div>
   
</body>

</html>