<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>CSI</title>
</head>

<body style="font-family: 'Roboto', sans-serif;">
    <!-- Main content here -->
    <div class="flex-1 lg:p-10 p-2 text-2xl font-bold">

        <!-- Content here -->
        <div class="lg:p-4 p-0 bg-white mt-5 lg:rounded-lg rounded-t-3xl">

            <div class="bg-gray-200 defaultLightColor rounded-t-3xl">
                <!-- Logo and Company description -->
                <div class="pt-2 pb-4">
                    <img class="h-24 w-24 border defaultBorderRadius bg-white my-2 m-auto" src="/images/logo.png">
                   
                </div>
            </div>
            <div class="bg-white border-l border-r defaultLightBorderColor">
                
                <!-- Question Container here -->
                <div class="lg:w-2/3 m-auto bg-white lg:p-10">
                    <div class="lg:mx-10 mx-2 pt-4 pb-2 py-5 text-center">
                        <h4>NIGERIA CUSTOMER SERVICE INDEX SURVEY 2022</h4>
                        <div class="mt-4 pt-4 text-success text-center">

                            <h2 class="text-2xl pb-6">Welcome</h2>

                           <div class="text-base space-y-4 text-left">
                                <p>Thanks for visiting the Nigeria Customer Service Index website.</p> 
                                <p>Customer service/experience is at it lowest ebb and we can’t afford to let it go beyond this, service quality have led to death, loss of revenue, mistrust in private and public sectors. </p>
                                <p>Hopefully, this survey and it report thereafter will help stop the slide and improve service quality. </p>
                                <p>Should you elect to take the survey, please give honest submission and do this without bias as this will help organizations in the nine (9) sectors in the survey grow and improve on quality of service going forward. </p>
                                
                                <p>Thanks</p>
                           </div>

                             <!-- Buttons -->
                             <div class="text-center space-x-5 py-5">
                                <a href="/survey/page1" class="px-3 py-2 rounded text-base bg-orange-500">Begin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" defaultLightColor rounded-b-3xl py-4">
                <!-- Logo and Company description -->
                <div class="pt-2 text-base text-center">
                    <p>© Nigeria Customer Service Index. All Rights Reserved</p>
                    <p>Powered By: WeWrite Technologies</p>
                </div>
            </div>
        </div>
        <!-- end Content here -->


    </div>
   
</body>

</html>